NODE_ENV=development

BOT_TOKEN=

DATABASE_SQL_URL=mysql://root:root@localhost:3000/ncfu

APP_PORT=3005
APP_HOST=0.0.0.0

CORS_ORIGINS=http://localhost:*,https://ncfu.lmrsc.su,https://*.lmrsc.su

WEBAPP_URL=https://ncfu.lmrsc.su